* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.banner_wrap {
    padding: 50px;
    font-size: 0;
}
.banner_wrap a {
    display: inline-block;
    width: 22%;
    margin-top: 25px;
    margin-left: 4%;
    padding: 20px 0;
    border: 1px solid #999;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;

}
.banner_wrap a:nth-child(4-n) {    margin-top: 0;}
.banner_wrap a:nth-child(4n-3) {    margin-left: 0;}

.banner_wrap a img {
    height: 50px;
    /* width: 5px; */
}