* {margin: 0; padding: 0;}

.box1 {
    width: 200px;
    height: 200px;
    margin: 100px;
    background: orangered;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.5);
    /* box-shadow: X축이동 Y축이동 번지는정도 크기 색상및투명도; */
}
  /* https://cssgenerator.org/box-shadow-css-generator.html */


.box2 {
    width: 200px;
    height: 300px;
    margin: 100px;
    background: greenyellow;
    box-shadow: 0px 16px 20px -6px rgba(0, 0, 0, 0.5);
}

.box_wrap {
    margin: 100px;
    padding: 50px 0;
    border: 1px solid brown;
    text-align: center;
}

.box_wrap .box2 {
    display: inline-block;
    margin: 0 10px;
}