
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Questrial&display=swap');

  /* font-family: 'Dancing Script', cursive;
  font-family: 'Questrial', sans-serif; */

p {font-size: 50px;}



.font2 {
    font-family: 'Dancing Script', cursive;
}

.font3 {
    font-family: 'Questrial', sans-serif;
}